.panel
  .article
    %a(href='{{ article._permalink }}')
      %h1 {{ article.title }}
    {{ article.photo.url | image_tag: 'class:thumbnail' }}
    %p {{ article.text }}
    %a(href="{{article.project._permalink}}") {{ article.project.name }}
