#cover-story
  %ul.bxslider
    {% with_scope featured: true %}
    {% for article in contents.articles %}
    {% if forloop.index <= 5 %}
    %a(href="/featured")
      %li
        .feather
          {% capture title %}
          title: {{ article.title }}
          {% endcapture %}
          {{ article.photo.url | image_tag: title }}
        .text
          %p {{article.text}}
    {% endif %}
    {% endfor %}
    {% endwith_scope %}
  {{ 'jquery.bxslider.min' | javascript_tag }}
  :javascript
    $(document).ready(function(){
      $('.bxslider').bxSlider({
        auto: true,
        autoControls: true,
        mode: 'fade',
        captions: true
      });
    });
