<div class='container'>
  <div class='row'>
    <div class='col-md-8 panel'>
      {% paginate entries by 3 %}
      {% for entry in paginate.collection %}
      <div class='entry'>
        <h1>{{ entry.title }}</h1>
        {{ entry.photo.url | image_tag }}
        <p>{{ entry.text }}</p>
      </div>
      {% endfor %}
      {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>
  </div>
</div>
