%header
  .container
    .row
      .col-md-7.col-sm-6.title
        %h1
          %a(href='/') 青原色创新实验室
          %small 讲述生命的故事
      .col-md-4.col-sm-6
        %ul.nav.navbar-nav.navbar-right
          {% for cat in contents.projects.group_by_category %}
          %li.dropdown
            %a.dropdown-toggle(data-toggle='dropdown' href='#')
              {{cat.name}}
              %b.caret
              %ul.dropdown-menu
                {% for project in cat.entries %}
                %li
                  %a(href='/projects/{{project._permalink}}') {{ project.name }}
                {% endfor %}
          {% endfor %}
          %li
            %a(href='/events') 活动
          %li
            %a(href='/about') 关于青原色
