%header.page-header
  .container
    .row
      .col-md-3.col-sm-4.logo
        %a(href='/') {{ 'logo.png' | theme_image_tag }}
      .col-md-9.col-sm-8.title
        .col-md-7
          %h1.text-right
            %a 青原色创新实验室
        %ul.nav.navbar-nav
          {% for cat in contents.projects.group_by_category %}
          %li.dropdown
            %a.dropdown-toggle(data-toggle='dropdown' href='#')
              {{cat.name}}
              %b.caret
              %ul.dropdown-menu
                {% for project in cat.entries %}
                %li
                  %a(href='/projects/{{project._permalink}}') {{ project.name }}
                {% endfor %}
          {% endfor %}
          %li
            %a(href='/events') 活动
