%header.page-header
  .container
    %h1
      %a(href="/")青原色创新实验室
      %small 用影像讲述身边的故事
    .row
      .col-md-8
      .col-md-4
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")
              影
              %b.caret
              %ul.dropdown-menu
                %li
                  %a(href="live") 吉安现场
                %li
                  %a(href="face") 吉安面孔
                %li
                  %a(href="color") 吉安色彩
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")
              像
              %b.caret
              %ul.dropdown-menu
                %li
                  %a(href="#") 民国十九年
                %li
                  %a(href="#") 长征
          %li.dropdown
            %a.dropdown-toggle(href="#" data-toggle="dropdown")
              志
              %b.caret
              %ul.dropdown-menu
                %li
                  %a(href="#") 善巧
                %li
                  %a(href="#") 茶花日记
          %li.dropdown
            %a(href="#") 青原色
