<header class='page-header'>
  <div class='container'>
    <h1>
      <a href='/'>青原色创新实验室</a>
      <small>用影像讲述身边的故事</small>
    </h1>
    <div class='row'>
      <div class='col-md-8'></div>
      <div class='col-md-4'>
        <ul class='nav navbar-nav'>
          <li class='dropdown'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
              影
              <b class='caret'></b>
              <ul class='dropdown-menu'>
                <li>
                  <a href='live'>吉安现场</a>
                </li>
                <li>
                  <a href='face'>吉安面孔</a>
                </li>
                <li>
                  <a href='color'>吉安色彩</a>
                </li>
              </ul>
            </a>
          </li>
          <li class='dropdown'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
              像
              <b class='caret'></b>
              <ul class='dropdown-menu'>
                <li>
                  <a href='#'>民国十九年</a>
                </li>
                <li>
                  <a href='#'>长征</a>
                </li>
              </ul>
            </a>
          </li>
          <li class='dropdown'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
              志
              <b class='caret'></b>
              <ul class='dropdown-menu'>
                <li>
                  <a href='#'>善巧</a>
                </li>
                <li>
                  <a href='#'>茶花日记</a>
                </li>
              </ul>
            </a>
          </li>
          <li class='dropdown'>
            <a href='#'>青原色</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
