#project-list
  .row#headline
    %h1 我们的项目
  .container
    {% for cat in contents.projects.group_by_category %}
    .row
      {% for project in cat.entries %}
      .col-md-4
        %a(href='/projects/{{project._permalink}}' title='{{ project.description }}')
          {{project.photo.url | image_tag }}
          %h1 {{ project.name }}
      {% endfor %}
    {% endfor %}
