%video(width='320' height='240' controls)
  %source(type='video/mp4' src='http://merlinran.qiniudn.com/9634%E7%8F%AD2013%E5%B9%B4%E8%81%9A%E4%BC%9A%E8%A7%86%E9%A2%91%EF%BC%88%E7%AC%AC%E4%BA%8C%E7%89%88%EF%BC%89.mp4')
