@import 'compass/css3';

$orange: rgb(240, 150, 0);
$green: rgb(0, 120, 120);
$gray: rgb(200, 200, 200);
$background: white;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$header-height: 100px;
$left-margin: 40px;
$left-border: 100px;
$top-margin: 40px;
$bottom-margin: 40px;

@mixin round-image {
  display: block;
  margin: 0 auto;
  @include border-radius(50%);
}

@mixin project-intro {
  h1 { text-align: center; }
  img { @include round-image; }
}

@mixin corner {
  display: block;
  content: "";
  width: $left-border;
  height: $top-margin;
  margin-left: $left-margin;
}

body {
  @media (min-width: $screen-sm-min) {
    &:before, &:after {
      @include corner;
      height: $top-margin;
      background-color: $orange;
    }
  }
}

a {
  &:hover { text-decoration: none; }
  @include transition(opacity 0.2s ease-out);
}

header {
  position: relative;
  background-color: $green;
  border: 0;
  margin: 0;
  @media (min-width: $screen-sm-min) {
    &:before {
      @include corner;
      float: left;
      height: $header-height;
      background: $green url(../images/logo.png) no-repeat;
      z-index: -99;
    }
  }
  .title {
    h1 { font-size: $header-height*.4; }
    @media (min-width: $screen-sm-min) {
      margin-left: $left-margin;
      margin-color: $green;
      display: block;
    }
  }
  .col-md-4 {
    float: right;
    &:before {
      display: block;
      content: "";
      @media (min-width: $screen-md-min) {
        margin-top: $header-height*.5;
      }
    }
  }
}

#content {
  padding-top: 20px;
  @media (min-width: $screen-sm-min) {
    border-left: $left-border solid $orange;
    margin-left: $left-margin;
  }
}

#cover-story {
  img {
    width: 100%;
  }
}
#timelineContainer {
  background-color: rgba(white, 0.6);
  margin-bottom: 20px;
}

footer {
  position: relative;
  overflow: visible;
  background-color: $green;
  @media (min-width: $screen-sm-min) {
    border-left: $left-border solid $orange;
    margin-left: $left-margin;
    &:after {
      @include corner;
      position: absolute;
      width: $left-border;
      height: $left-border*3;
      right: 0;
      bottom: -$bottom-margin;
      margin-right: $left-margin;
      background-color: $orange;
    }
    .copyright { text-align: center; }
  }
}

.panel {
  position: relative;
  .article {
    margin: 15px;
    .featured {
      width: 138px;
      height: 138px;
      position: absolute;
      top: -1px;
      right: -1px;
      background: url(../images/featured.png) no-repeat;
    }
  }
}

#project-list {
  background-color: rgba(white, 0.6);
  #headline { text-align: center; }
  .row {
    padding: 20px 0;
    border-top: 1px black;
    .col-md-4 {
      @include project-intro;
    }
  }
}


#project-sidebar {
  @include project-intro;
}
