---
title: 项目显示模板
slug: content_type_template
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
content_type: projects
---
{% extends parent %}
{% block main %}
{% with_scope project: project %}
.container
  .row
    .col-md-8
      {% include articles with articles: contents.articles %}
    .col-md-4
      .panel
        %h1 {{project.name}}
        %p {{project.description}}
{% endwith_scope %}
{% endblock %}
