---
title: 文章显示模板
slug: article
listed: true
published: true
content_type: articles
parent: index
position: 201
---
{% extends parent %}
{% block main %}
.container
  .row
    .col-md-8
      {% include article with article %}
{% endblock %}
