---
title: 活动列表
listed: true
published: true
---
{% extends parent %}
{% block main %}
{% for event in contents.events %}
.container
  .row
    .col-md-8.panel
      %h1
        %a(href='/events/{{event._permalink}}') {{ event.title }}
      %h2
        {{ event.event_date | localized_date }}
      %div
        {{ event.description }}
{% endfor %}
{% endblock %}
