---
title: 编辑推荐
slug: featured
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 103
---
{% extends parent %}
{% block main %}
{% with_scope featured: true %}
.container
  .row
    .col-md-8
      {% include articles with articles: contents.articles %}
{% endwith_scope %}
{% endblock %}
