---
title: 主页
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 0
---
!!!
%html(lang="zh-CN")
  %head
    %meta(charset="utf-8")
    %title {{ site.name }}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(charset="utf8")
    %meta(name="keywords" value="{{ site.meta_keywords }}")
    %meta(name="description" value="{{ site.meta_description }}")
    {{ 'bootstrap.min.css' | stylesheet_tag: 'screen, projection' }}
    {{ 'timeline.css' | stylesheet_tag: 'screen, projection' }}
    {{ 'main.css' | stylesheet_tag: 'screen, projection' }}
    /[if lt IE 9]
      {{ 'html5shiv' | javascript_tag }}
      {{ 'respond.min' | javascript_tag }}
  %body
    {{ 'jquery-2.0.3.min' | javascript_tag }}
    {{ 'bootstrap.min' | javascript_tag }}
    {% include header %}
    #content
      {% block main %}
      .container
        .row
          .col-md-8
            {% include cover_story %}
          .col-md-4
            {% include events %}
            {% include propaganda %}
      {% include project_list %}
      {{ 'timeliner' | javascript_tag }}
      :javascript
        $(document).ready(function() {
          $.timeliner({
            startOpen:['#131108EX']
          });
        });
      {% endblock %}
    {% include footer %}
