---
title: 主页
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 104
---
!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title {{ site.name }}
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(charset="utf8")
    %meta(name="keywords" value="{{ site.meta_keywords }}")
    %meta(name="description" value="{{ site.meta_description }}")
    {{ 'bootstrap.min.css' | stylesheet_tag: 'screen, projection' }}
    {{ 'timeline.css' | stylesheet_tag: 'screen, projection' }}
    {{ 'main.css' | stylesheet_tag: 'screen, projection' }}
    /[if lt IE 9]
      {{ 'html5shiv' | javascript_tag }}
      {{ 'respond.min' | javascript_tag }}
  %body
    {% include header %}
    {% block main %}
    .content
    .container
      .row
      .col-md-8#featured
        {% with_scope featured: true %}
        {% assign article = contents.articles.first %}
        %a(href="featured.html")
          .feather
            {{ article.photo.url | image_tag: 'class:image-wrap' }}
          %h1 {{article.title}}
          {{article.text}}
        {% endwith_scope %}
      .col-md-4
        {% include events %}
    {% endblock %}
    {% include footer %}
    {{ 'jquery-2.0.3.min' | javascript_tag }}
    {{ 'bootstrap.min' | javascript_tag }}
    {{ 'timeliner' | javascript_tag }}
    :javascript
      $(document).ready(function() {
        $.timeliner({
          startOpen:['#131108EX']
        });
      });
